body{
    background-color: #c6f5ff;
	font-family: Arial;
    margin: 0;
}

.messageBox{
	background-color:#f3f3f366;
	overflow-y:auto;
	width:80%;
	height:80%;
	border: 1px solid;
	margin: 0.5%;
	border-radius: 3px;
}

.messages{
    list-style-type: none;
}

#attachment_photo{
    max-width: 400px;
    max-height: 400px;
}

#myMessage{
	margin: 0.5%;
    display: inline-block;
    vertical-align: top;
}

#sendbutton{
    vertical-align: top;
    margin-top: 7px;
}

.hidden{
    display: none;
}

.rshow{
    background: #000000c7;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.rshow .registers{
	top: 30%;
	left: 40%;
	position: absolute;
    margin: 0;
}

.rshow .registers input{
    border: solid 1.2px gray;
    padding: 3% 27% 3% 2%;
}
.rshow .registers input:first-child {
	margin: 0;
    border-radius: 10px 10px 0 0;
}
.rshow .registers input:nth-child(2){
    border-top: none;
    border-bottom: none;
}
.rshow .registers input:last-child{
    border-radius: 0 0 10px 10px;
}

.rshow .registers button{
	border: none; 
	border-radius: 4px; 
	color: #ffff; 
	background-color: #184ce0; 
	margin-top: 16px; 
	padding: 4% 39.7%;
}

.lshow{
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 100%;
  margin: 20px auto;
}

.error{
    color: red;
}

.clear{
    left: 96%;
	max-width: 400px;
	font-family: Helvetica;
	position: relative;
	padding: 0.5px 5px 0.5px 10px;
	margin: 0 0 6px 0;
	float: left;
	border-radius:10px;
}

.myMessage{
    max-width: 400px;
    font-family: Helvetica;
    position:relative;
    left: 149%;
    padding: 0.5px 5px 0.5px 10px;
    margin: 0 0 6px 0;
    float: right;
    background-color: #76D6F4;
    border-radius:10px;
}

.otherMessage{
      max-width: 400px;
      font-family: Helvetica;
      position: relative;
      right: 5%;
      padding: 0.5px 5px 0.5px 10px;
      margin: 0 0 6px 0;
      float: left;
      border-radius:10px;
      background-color: #cfd9de;
}

.item-menu{
    margin: 0;
    padding-left: 10px;
}

.attachment {
	display: inline-block;
    position: relative;
    z-index: 0;
 }

 .attachment li {
     display: inline-block;
 }
.attach_list {
  width: 70px;
  display: none;
  position: absolute;
  bottom: 0;
 }

 ul {
    display: inline-block;
    list-style-type: none;
}

li:hover .attach_list {
  display: block; 
}

.photoh_show{
    background: #000000c7;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.photoh_show .upload-container {
    position: relative;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #000000c7;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f3c44;
}
.photoh_show .upload-container label {
    font-weight: bold;
}

.photoh_show .upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.photoh_show .upload-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}

.photoh_show .upload-container div {
    position: relative;
    z-index: 10;
}

.photoh_show .upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.photoh_show .upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}

.photoh_show .upload-container input[type=file]:focus + label {
    outline: -webkit-focus-ring-color auto 5px;
}
@media screen and (max-width: 768px){
	.messageBox{
		width: 100%;
		height: 70%;
    }

    .rshow .registers{
    	top:100px;
    	left:120px;
    }
}
