<html>
 <head>
    <title>Chat</title>
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 </head>
 <body>
   <script type="text/javascript">
   $(document).ready(function () {

    if ("WebSocket" in window){
	websocket = true;
    }else{
	// no web socket support
	websocket = false;
    }
    var msg = {};
    var key="";
	var ws = new WebSocket("wss://my-chat-socket.herokuapp.com/");

	  ws.onopen = function(){
	  	console.log("Was connected!")
	  	$('.hidden').show();
   		$('#loginbutton').on('click', function(){
	  		if(document.forms["login"]["name"].value!='' && document.forms["login"]["passwd"].value!=''){
	  		msg=JSON.stringify({ event: 'register', name:document.forms["login"]["passwd"].value, passwd: document.forms["login"]["passwd"].value,});
	  		console.log("Register");
   		    ws.send(msg);
   		}
	  	});
	  };
              

	      ws.onmessage = function(evt){
		  var event=JSON.parse(evt.data);
		  //console.log(evt.data);
		  if(event.event=='message'){
		    $('.messages').append('<li>'+event.message+'</li>');
		    console.log('Received message');
		  }
		  if (event.event=='connect'){
		  	$('.messages').append('<li>'+event.user+' connected!</li>');
		  }
		  if(event.event=='register' && event.errors==0){
		  	key=event.key
		  	console.log(event.key);
            $('.hidden').hide()
            setInterval( function(){ws.send(JSON.stringify({ event: 'alive', key:key}));}, 30000 );
		  }
	  };



	  document.onkeyup = function(e){
	    if(e.keyCode==13){ 
	  	  if($('#myMessage').val() != ''){
	  	  var messag=$('#myMessage').val().replace(/<\/?[^>]+(>|$)/g,"");
		  if (messag!=''){
		  	msg=JSON.stringify({event: 'message', message:messag, key:key, });
		    ws.send(msg);
		  }
          $('#myMessage').val('');
          }
      }	  
	  };

	  $('#sendbutton').on('click', function(){
	  	if($('#myMessage').val() != ''){
	  	   var messag=$('#myMessage').val().replace(/<\/?[^>]+(>|$)/g,"");
	  	   if (messag!=''){
		    msg=JSON.stringify({event: 'message', message:messag, key:key, });
		    ws.send(msg);
           $('#myMessage').val('');
       }
	  }
	});

	   ws.onclose = function(){
		   console.log("Connection closed...");
		   alert("Connection closed...")
	   };
    
});	  
</script>
<form name="login"  action="#"  class="hidden" onsubmit="return false;">
	<input id="loginName" name="name" type="text" required placeholder="Name">
	<input id="loginPassword" name="passwd" type="text" required placeholder="Password">
	<button  id="loginbutton" href="#">Login</button>
</form>
 <div  class="messageBox">
 <ul class="messages"></ul>
 </div>
 <input type="text" id="myMessage" maxlength="200">
 <button id="sendbutton">Send</button>
 </body>
</html>
