<html>
 <head>
    <title>Chat</title>
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
 </head>
 <body style="background: url(images/background1.jpg) no-repeat fixed center;">
   <script type="text/javascript" src="{{ static_url("js/main.js") }}"></script>

<div id="registerbox" class="hidden">
    <form name="registerbox" class="registers" onsubmit="return false;" >
        <input name="rname" type="text" required placeholder="Name" ><br>
		<input name="email" type="email" required placeholder="Email"><br>
        <input name = "rpasswd" type="password" required placeholder="Password"><br>
		<p id="error" class="error"></p>
        <button id="registerbutton" href="#">Register</button>
    </form>
</div>

<div id="loginbox" class="hidden">
<form name="loginbox" onsubmit="return false;">
	<input id="loginName" name="name" type="text" required placeholder="Name">
	<input id="loginPassword" name="passwd" type="password" autocomplete="current-password" required placeholder="Password">
	<button id="loginbutton" href="#">Login</button>
	<button id="register" href="#">Registration</button>
</form>
</div>

<div id="photo_handler" class="hidden">
<form class="upload-container" return photo_handler>
          <img id="upload-image" src="images/upload.png">
          <div>
               <input id="file-input" type="file" name="file" multiple>
               <label for="file-input">Выберите изображение</label>
               <span>или перетащите его сюда</span>
          </div>
     </form>
</div>
<div class="messageBox">
	<ul class="messages"></ul>
</div>

<div>

 <input type="text" id="myMessage"  style="width: 50%;" maxlength="300">
 <button id="sendbutton">Send</button>

 <ul class="item-menu">
		<li class="attachment">
			<img src="images/attachment.png">
			<ul class="attach_list">
				<li class="photo_attachment">
					<img src="images/photo_attachment.png">
				</li>
				<li class="file_attachment">
					<img src="images/file_attachment.png">
				</li>
			</ul>
		</li>
	</ul>
</div>
</body>
</html>

